.container {
  display: flex;
  width: 400px;
  height: 100px;
}

.item {
  flex: 1 1 200px;
  color: white;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item1 {
  background-color: crimson;
  flex-shrink: 3; /* si restringe molto */
}

.item2 {
  background-color: steelblue;
 
}

.item3 {
  background-color: seagreen;
 
}
