ul{
  list-style-type: disc;
  padding: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
}

li:last-child::after{
 content: " cena";
  color:blue;
  font-weight: bolder;
}

.p{
  color: #FF0000;
}

