p{
  color:blue; /*regola1: selettore di tipo (bassa specificità)*/
}

.miaClasse{
  color:green;/*regola2: selettore di classe (più specifico di p)*/
}

#mioID{
  color: red; /*regola3: selettore ID (ancora più specifico)*/
}