/*DIV NO PADDING*/

.senza-padding{
    background-color: #ffcccc;
  width: 300px;
  margin-bottom: 20px;
  font-family: sans-serif;
}

.con-padding {
  background-color: #ccffcc;
  border: 2px groove #cc0000;
  margin: 100px;
  width: 300px;
  padding: 30px;
  font-family: sans-serif;
}