.flexbox{
display: flex;
justify-content: space-between;
align-items: center;
border: 2px solid black;
padding: 20px;
height: 200px;
}

.box{
    background-color: bisque;
    border: 1px solid #333;
    padding:20px;
    flex:2;
    margin:10px;
    text-align: center;
}