.flexbox{
 display: flex;
  gap: 10px;
  counter-reset: contatore;
  flex-direction: column;
}


.box{
     flex: 1;
  padding: 20px;
  background-color: #add8e6;
  position: relative;
}

.box::before{
    counter-increment: contatore;
  content: counter(contatore) ". ";
  position: absolute;
  top: 5px;
  left: 10px;
  font-weight: bold;
  color: #000;
}
