:root {
 --colore-principale:#ff0000;
 --dimensione-testo:18px;
}

*{
    color:var(--colore-principale);
    font-size: var(--dimensione-testo);
}

/*padding*/
:root {
  --padding-box:30px;
}

.box, .testo {
  padding: var(--padding-box);
  background-color:black;
}