.container{
 display: flex;
  flex-wrap: wrap;
  width: 400px; 
  gap: 10px;
  background-color: #f0f0f0;
  padding: 10px;
  counter-reset: contatore;
}


.box{
     flex: 1;
  padding: 20px;
  background-color: #add8e6;
  position: relative;
}

.box::before{
    counter-increment: contatore;
  content: counter(contatore) ". ";
  position: absolute;
  top: 5px;
  left: 10px;
  font-weight: bold;
  color: #000;
}
