body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
  background-color: #fff;
}

h1 {
  margin-top: 0;
}

.layout {
  border: 1px solid #ccc;
  padding: 10px;
  background-color: #f9f9f9;
}

.header,
.nav,
.footer {
  background-color: #ddd;
  padding: 20px;
  margin-bottom: 10px;
  text-align: center;
}

.row {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

.sidebar {
  flex: 1;
  background-color: #eee;
  padding: 20px;
  text-align: center;
}

.main {
  flex: 2;
  background-color: #eee;
  padding: 20px;
  text-align: center;
}

p.nascosto{
    display: none;
}

.img{
    width: 300px;
    height: 300px;
    float: right;
     margin: 10px;
}

.txt {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
}